@font-face {
  font-family: 'logoFont';
  src: url('./lettuceMeatLogoFont.ttf');
}
@font-face {
  font-family: 'lightFont';
  src: url('./Roboto-Light.ttf');
}

.green1 {
  color: #004732;
}
.green2 {
  color: #1e664e;
}
.green3 {
  color: #548773;
}
.green4 {
  color: #a9c7b5;
}
.red {
  color: rgb(119, 67, 48);
}

.logoFont {
  font-family: logoFont;
  color: white;
  font-size: 2.5rem;
}

.lightFont {
  font-family: lightFont;
  color: white;
  font-size: 1.5rem;
}

.lightFontSmall {
  font-family: lightFont;
  color: white;
  font-size: 1rem;
  text-decoration: none;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 0.5rem;
  padding: 1rem 1rem 0rem 1rem;
}

.navDivider {
  margin: 0 0.5rem;
}

.header > * {
  align-items: center;
  display: flex;
}

a {
  text-decoration: none;
}
.nav {
  text-decoration: none;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 0.5rem 1rem 0.5rem;
  padding: 0 1rem 1rem 1rem;
}

.navRight {
  padding: 0 0.75rem;
}

.mainCard {
  background-color: white;
  margin: 0 20%;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 25px 10px #00000048;
}

@media (max-width: 1300px) {
  .mainCard {
    margin: 0 12%;
  }
}
@media (max-width: 1100px) {
  .mainCard {
    margin: 0 8%;
  }
}
@media (max-width: 900px) {
  .mainCard {
    margin: 0 6%;
  }
}

@media (max-width: 700px) {
  .mainCard {
    margin: 0 3%;
  }
}

@media (max-width: 600px) {
  .mainCard {
    margin: 0;
  }
}

.spacer {
  margin: 0 0.25rem;
}

.gray {
  background-color: rgb(216, 216, 216);
  height: 100vh;
}

.divider {
  border: 1px solid black;
  height: 1rem;
}

.roomDiv {
  padding: 0.75rem;
}

body {
  background-color: rgb(216, 216, 216);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.home-button {
  align-content: center;
  display: flex;
}
#landing-logo {
  height: 120px;
  margin-top: 50px;
}
#landingPageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
  color: white;
  height: 100vh;
}

.bgGradient {
  height: 25%;
  position: relative;
  top: 0;
  width: 100vw;
  background: linear-gradient(90deg, #004732, #548773);
}

#icons > a:link,
a:visited,
a:hover,
a:active {
  color: white;
  text-decoration: none;
}
#icons {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 40%;
}
.icon {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
}
.chatList {
  display: flex;
  flex-direction: column;
}
.chatList > .textRight {
  align-self: flex-end;
  background-color: rgb(71, 180, 245);
  border-radius: 20px;
  list-style-type: none;
  margin: 10px;
  padding: 5px 15px 5px 15px;
  width: 70%;
}
.chatList > .textLeft {
  align-self: flex-start;
  background-color: rgb(248, 248, 248);
  border-radius: 20px;
  list-style-type: none;
  margin: 10px;
  margin-left: -35px;
  padding: 5px 15px 5px 15px;
  width: 70%;
}
.chatList > .avatarRight {
  align-self: flex-end;
  border-radius: 20px;
  color: gray;
  font-size: smaller;
  list-style-type: none;
  margin: -10px 5px 10px 10px;
  padding: 5px 15px 5px 15px;
}
.chatList > .avatarLeft {
  align-self: flex-start;
  border-radius: 20px;
  color: gray;
  font-size: smaller;
  margin: -10px 10px 10px -35px;
  list-style-type: none;
  padding: 5px 15px 5px 15px;
}
.bottomNav {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 20px 0 20px 0;
}
#codeHomeWrapper {
  background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
  height: 100vh;
}
#roomCodeContainer > button {
  background-color: white;
  height: 40px;
  margin-bottom: 20px;
}
textarea {
  margin-bottom: 20px;
  resize: none;
  text-align: center;
  width: 300px;
}
#roomCodeContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#roomCodeContainer {
  color: white;
}
